# Configuración base de datos SAIA
DB_SAIA_HOST=127.0.0.1
DB_SAIA_PORT=3306
DB_SAIA_USER=root
DB_SAIA_PASSWORD=tu_contraseña_aqui
DB_SAIA_NAME=saia

# Configuración base de datos SENA (simulada, solo lectura)
DB_SENA_HOST=127.0.0.1
DB_SENA_PORT=3306
DB_SENA_USER=root
DB_SENA_PASSWORD=tu_contraseña_aqui
DB_SENA_NAME=sena
