# Configuración base de datos SAIA
DB_SAIA_HOST=127.0.0.1
DB_SAIA_PORT=3307
DB_SAIA_USER=
DB_SAIA_PASSWORD=SystemSAIA!2026
DB_SAIA_NAME=saia

# Configuración base de datos SENA (simulada, solo lectura)
DB_SENA_HOST=127.0.0.1
DB_SENA_PORT=3307
DB_SENA_USER=root
DB_SENA_PASSWORD=SystemSAIA!2026
DB_SENA_NAME=sena
